.App {
  text-align: center;
}

.App h1 {
  color: purple;
  margin-bottom: 60px;
}

.App .title {
  color: blue;
  font-size: 15px;
}

/* Images Gallery*/
.photos_list {
  display: flex;
  flex-flow: row wrap;
  margin: 35px auto 50px;
  width: 1320px;
  justify-content: space-between;
}

.photo_row {
  width: 270px;
}

.photo_title {
  font-size: 14px;
  height: 40px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 500;
  font-style: italic;
  color: darkslategray;
}

.photo_image img {
  width: 230px;
}

.albums {
  max-width: 1200px;
  margin: 0 auto;
}

.album_title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
  color: black;
  border-bottom: solid 1px #cccc;
  padding: 10px;
  width: 100%;
  border-top: solid 1px #cccc;
}

.photos_album {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
