.App {
  text-align: center;
}

.App h1 {
  color: purple;
}

.App .title {
  color: blue;
  font-size: 15px;
}

/* Images Gallery*/
.photos_list {
  display: flex;
  flex-flow: row wrap;
  margin: 35px auto 50px;
  width: 1320px;
  justify-content: space-between;
}

.photo_row {
  width: 300px;
}

.photo_title {
  font-size: 14px;
  height: 40px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 500;
}

.photo_image img {
  width: 300px;
}